html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #eef2f3;
    
}

#__next {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
} 

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #__next {   
    grid-template-columns: 1fr;
  } 
}
